{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Room {{ room.id }}</h1>
    <p>{{ room.room_number }}. {{ room.description|raw }}</p>
    <a href="/Room/edit/{{ room.id }}">Modifier</a>
    <a href="/Room/delete/{{ room.id }}">Supprimer</a>
    <a href="/Room/index">Retour</a>
{% endblock %}
