{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
<link rel="stylesheet" href="/assets/css/style-chambre.css"
{% endblock %}

{% block content %}

    {% if session.is_admin == 1 %}
        <h1>Chambre {{ room.room }}</h1>
        <p>{{ room.description|raw }}</p>
        <a href="/Room/edit/{{ room.id }}">Modifier</a>
        <a href="/Room/delete/{{ room.id }}">Supprimer</a>
        <a href="/Room/index">Retour</a>
    {% else %}
        <h1>Chambre {{ room.room }}</h1>
        <p> {{ room.description|raw }}</p>
    {% endif %}

{% endblock %}
