{% extends 'layout.html.twig' %}

{% block title %}
    Nous contacter - {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/style_form.css">
{% endblock %}

{% block content %}

    <div class="contact container-fluid">
                <form class="form col-lg-3" method="post" action="../Contact/add">
                    <h1>Nous contacter</h1>
                    <p class="erreur">{{ error }}</p>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-6">
                            <label for="lastname">Nom:</label>
                            <input type="text" class="form-control" name="lastname" placeholder="Nom" value="{{ post.lastname }}">
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label for="firstname">Prénom:</label>
                            <input type="text" class="form-control" name="firstname" placeholder="Prénom" value="{{ post.firstname }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" name="email" placeholder="name@email.com" value="{{ post.email }}">
                    </div>
                    <div class="form-group">
                        <label for="message">Votre message:</label>
                        <textarea class="form-control" name="message" rows="5" placeholder="Entrer votre message">{{ post.message }}</textarea>
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary submit">Envoyer votre message</button>
                </form>


        <div class="click2edit resume offset-4 col-lg-3">
            <h1> Stras'Gîte </h1>
            <p> 38, Quai Mullenheim <br>
            67000 Strasbourg <br><br>
             Gîte d'exception pour particuliers et parlementaires. <br>
                La maison possède 4 chambres, toutes uniques,
                que vous saurez apprécier pour leur calme et leur luxe. Tout ici est mis en oeuvre pour vous faire passer
                un agréable séjour.
            </p>
            {% if session.is_admin == 1 %}
            <button id="edit" class="submit" onclick="edit()" type="button">Edit</button>
            <button id="save" class="submit" onclick="save()" type="button">Save</button>
            {% endif %}
        </div>

    </div>



{% endblock %}

{% block javascript %}

    <script>
        var edit = function() {
        $('.click2edit').summernote({focus: true});
    };

        var save = function() {
        var markup = $('.click2edit').summernote('code');
        $('.click2edit').summernote('destroy');
    };
    </script>

{% endblock %}