{% extends 'layout.html.twig' %}

{% block title %}
Mes réservations | {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="../assets/css/activities-clean.css">
{% endblock %}

{% block content %}
<div class="projects-clean">
        <div class="container text-right">
            <div class="intro">
                <h2 class="text-center text-dark">Mes Réservations</h2>
            </div>
        </div>
</div>
    <div class="container-fluid">
        {% for info in bookingInfo %}
        <div style="border-style: solid;">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th style="width: 20%;"></th>
                            <th>Informations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>N° client</th>
                            <td>{{info.client_id}}</td>
                        </tr>
                        <tr>
                            <th>Nom Prénom</th>
                            <td>{{info.firstname}} {{info.lastname}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{info.email}}</td>
                        </tr>
                        <tr>
                            <th>Télèphone</th>
                            <td>+33 {{info.phone_number}}</td>
                        </tr>
                        <tr>
                            <th>Logement</th>
                            <td>{{info.room}}</td>
                        </tr>
                        <tr>
                            <th>N° de réservation</th>
                            <td>{{info.id}}</td>
                        </tr>
                        <tr>
                            <th>Date d'entrée</th>
                            <td>{{info.arrival}}</td>
                        </tr>
                        <tr>
                            <th>Date de sortie</th>
                            <td>{{info.departure}}</td>
                        </tr>
                        <tr>
                            <th>Nbr de nuits</th>
                            <td>{{info.nb_nights }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ info.paid_price }}</td>
                        </tr>
                        <tr>
                            <th>Nombre d'adultes</th>
                            <td>{{ info.nb_adult }}</td>
                        </tr>                        
                        <tr>
                            <th>Nombre d'enfants</th>
                            <td>{{ info.nb_child }}</td>
                        </tr>
                        <tr>
                            <th>Room Service</th>
                            {% if info.paid_price == 0 %}
                            <td>Non</td>
                            {% else %}
                            <td>Oui</td>
                            {% endif %}
                        </tr>                                                
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock %}
